@import "tailwindcss";

:root {
  --mystery-bg: #fbf0de;
  --mystery-red: #a91c1b;
  --mystery-accent: #ba8358;
}

body {
  background-color: var(--mystery-bg);
  color: black;
  margin: 0;
  padding: 0;
}

/* Custom button style using your hex code */
.btn-mystery {
  background-color: var(--mystery-red);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn-mystery:hover {
  filter: brightness(1.2);
}

.btn-mystery:hover {
  opacity: 0.9;
}

.nav-link {
  color: var(--mystery-black);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--mystery-red);
}
